<md-grid-list cols="1" rowHeight="200px">
    <md-grid-tile class="dashboard-background"></md-grid-tile>
</md-grid-list>

<md-card class="dashboard-card">
    <md-card-header>
        <h1 *ngIf='!isEdit'>New Role </h1>
        <h1 *ngIf='isEdit'>Edit Role </h1>
    </md-card-header>
    <form [formGroup]="myForm" (ngSubmit)="newRole()" novalidate>
        <md-card-content class="form-group">
            <md-list>
                <md-list-item>
                    <md-input-container class="full-width" dividerColor="{{ (!role_name.valid && !role_name.pristine)? 'warn' : 'primary' }}">
                        <input mdInput placeholder="Role Name" type="text" id="role_name" [ngModel]="roleToEdit?.role_name" formControlName="role_name">
                        <md-hint class="danger" [hidden]="!role_name.valid && (!role_name.dirty || !role_name.touched)">
                            <span [hidden]="!role_name.errors?.required">
                                Role Name is required.
                            </span>
                            <span [hidden]="(role_name.errors?.required && role_name.errors?.pattern) || !role_name.errors?.minlength">Name must be 4 characters long</span><br>
                            <span [hidden]="(role_name.errors?.required && role_name.errors?.minlength) || !role_name.errors?.pattern">No spaces and special charecters are allowed</span>
                        </md-hint>
                    </md-input-container>
                </md-list-item>
                <br><br>
                <md-list-item>
                    <md-input-container class="full-width" dividerColor="{{ (!description.valid && !description.pristine) ? 'warn' : 'primary' }}">
                        <textarea mdInput placeholder="Role Description" type="text" id="description" [ngModel]="roleToEdit?.description" formControlName="description"></textarea>
                        <md-hint class="danger" [hidden]="!description.valid && (!description.dirty || !description.touched)">
                            <span [hidden]="!description.errors?.required">
                                 Description for Role is required.
                            </span>
                            <span [hidden]="(description.errors?.required && description.errors?.maxlength) || !description.errors?.minlength">description must contain atleast 10 charactres</span>
                            <span [hidden]="(description.errors?.required && description.errors?.minlength) || !description.errors?.maxlength ">description must have maximun 140 characters</span>
                        </md-hint>
                    </md-input-container>
                </md-list-item>
                <br>
                <md-list-item>
                    <h5>Role privilege Settings</h5><br/>
                </md-list-item>
                <md-list-item>
                    <p>Click one or more checkboxes to assign privileges to this role</p>
                </md-list-item>
            </md-list>
            <md-list>
                <div class="form-group">
                    <div *ngFor="let privilege of privileges; let i = index">
                        <label>
                            <input type="checkbox"
                                name="privileges"
                                id="{{privilege.name}}"
                                value="{{privilege.status}}"
                                [checked]="privilege.status"
                                (change)="updateCheckedOptions(privilege.name, $event)"/>
                            {{privilege.name}}
                        </label>
                    </div>
                </div>
            </md-list>
            <md-list>
                <label>Can Create</label>
                <div class="form-group" *ngFor="let role of roles">
                    <md-checkbox 
                    class="example-margin" 
                    name="options"
                    value="{{role.role_name}}"
                    [(ngModel)]="role.status"
                    [ngModelOptions]="{standalone: true}"
                    (change)="updateCheckedRoles(role.role_name, $event)">{{role.role_name}}</md-checkbox>
                </div>
            </md-list>

        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Submit</button>
            <button md-raised-button color="primary" (click)="goBack()">Cancel</button>
        </md-card-actions>
    </form>
</md-card>