<div>
    <div class="row">
        <div class="col-md-9">
            <div class="col-sm-6">
                <div class="tile purple">
                    <h3 class="title">Number of instances lauched in AWS</h3>
                    <h1 class="text-center" routerLink='/{{userRole}}/instances' style="cursor:pointer;">{{instanceCount}}</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tile red">
                    <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                    <h3 class="title">Resource Group Avilable</h3>
                    <h1 class="text-center">12</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="col-sm-6">
                <div class="tile green">
                    <h3 class="title">Site Admins</h3>
                    <h1 class="text-center">42</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tile blue">
                    <h3 class="title">Current Users</h3>
                    <h1 class="text-center">84s</h1>
                </div>
            </div>
        </div>
    </div>

</div>