<div>
    <h3>Email</h3>
    <div>
        <md-list id="emailid">
            <md-list-item>
                {{ usermail}} <span id="primary">Primary</span><span id="public" *ngIf="emaildata && !isPrivate">Public</span>
                <span id="private" *ngIf="emaildata && isPrivate">Private </span>
                <!-- <span id="delete"><i class="material-icons">delete</i></span> -->
            </md-list-item>
        </md-list>
    </div>
    <div class="addemail">
        <h3>Add email address</h3>
        <md-input-container class="example-full-width">
            <input mdInput placeholder="Enter Email address" [(ngModel)]="addemail" name="email" required>
        </md-input-container>
        <button md-raised-button color="primary" id="add" (click)="addEmail()">Add</button>
    </div>
    <div class="primaryEmail">
        <h4>Primary email address</h4>
        <p>{{usermail}} will be used for account-related notifications and for web-based Enigma operations (e.g. edits and merges).</p>
        <md-select placeholder="" [(ngModel)]="usermail">
            <md-option [value]="usermail">{{ usermail}}</md-option>
            <md-option *ngFor="let emails of sMail" [value]="emails">{{ emails}}</md-option>
        </md-select>
        <button md-raised-button color="primary" id="save">Save</button>
    </div>
    <div class="backupEmail">
        <h4>Backup email address</h4>
        <p>Your backup GitHub email address can be used to reset your password if you no longer have access to your primary email address.</p>
        <md-select placeholder="" [(ngModel)]="backup">
            <md-option value="1">Allow all verified emails</md-option>
            <md-option value="2">only allow primary email</md-option>
        </md-select>
        <button md-raised-button color="primary" id="save">Save</button><br>
        <p id="back">Please add a verified email, in addition to your primary email, in order to choose a backup email address.</p>
        <div class="private">
            <label>
        <md-checkbox [(ngModel)]="emaildata && isPrivate" name="isPrivate" (change)='privateemail($event)'></md-checkbox>
        Keep my email address private
      </label><br><br><br>
            <p id="sub">
                We'll remove your public profile email and use <strong>@users.noreply.github.com</strong> when performing web-based Git operations and sending email on your behalf. If you want command line Git operations to use your private email you
                must <a href="">set your email in Git.</a>
            </p>
        </div>
    </div>
    <div>
        <h3>Email preferences</h3>

        <form role="form" name="preferences" novalidate #preferences="ngForm">

            <md-radio-group class="example-radio-group" [(ngModel)]="emaildata && emaildata.preferences" name="preferences">

                <md-radio-button class="example-radio-button" value="Receive_all_emails">
                    Receive all emails, except those I unsubscribe from.
                </md-radio-button>

                <p id="para">We'll occasionally contact you with the latest news and happenings from the GitHub Universe. <a href="">Learn more.</a></p>

                <md-radio-button class="example-radio-button" value="receive_account_related_emails">
                    Only receive account related emails, and those I subscribe to.
                </md-radio-button>

                <p id="para">We'll only send you legal or administrative emails, and any emails you’ve specifically subscribed to. Save email preferences</p>
            </md-radio-group>
            <button md-raised-button color="primary" id="add" type="submit" (click)="emailprefernces(emaildata)" [disabled]="preferences.pristine">Save email preferences</button>
        </form>
    </div>
