<md-grid-list cols="1" rowHeight="200px">
    <md-grid-tile class="dashboard-background"></md-grid-tile>
</md-grid-list>


<md-card class="dashboard-card ">
    <md-card-header>

    </md-card-header>
    <form>

        <md-card-content>

            <md-list>
                <span>Old Password:&nbsp;</span>
                <md-list-item>

                    <md-input-container class="full-width">
                        <input mdInput type="password" [(ngModel)]="password.oldPassword" name="newPassword">
                    </md-input-container>
                </md-list-item>

            </md-list>
            <md-list>
                <span>New Password:&nbsp;</span>
                <md-list-item>

                    <md-input-container class="full-width">
                        <input mdInput type="password" [(ngModel)]="password.newPassword" name="oldPassword">
                    </md-input-container>
                </md-list-item>

            </md-list>
            <md-list>
                <span>Confirm Password:&nbsp;</span>
                <md-list-item>

                    <md-input-container class="full-width">
                        <input mdInput type="password" [(ngModel)]="password.confirmPassword" name="confirmPassword">
                    </md-input-container>
                </md-list-item>

            </md-list>
        </md-card-content>

        <md-card-actions class="btn">
            <button md-raised-button color="primary" (click)="changePassword(password)" type="submit">UpdatePassword</button>

        </md-card-actions>
    </form>

</md-card>