<md-card>

<h1 class="hedding"> Password Policy</h1>

<md-list>
<md-card-content>
<md-list-item>
<p>A password policy is a set of rules that define the type of password an IAM user can set.For more information about password policies,go to Managing Passwords in Using IAM.</p>
</md-list-item>
<md-list-item>
<p>Currently ,this Aws account does not have a password policy.Specify a password policy below.</p>
</md-list-item>
<md-list-item>
<label>Minimum password length:&nbsp;&nbsp;</label>
<md-input-container>
<input mdInput [(ngModel)]="data.passwordlength"  name="passwordlength">
</md-input-container>
</md-list-item>
<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.uppercase" name="uppercase" value="uppercase">Require at least one Uppercase letter</md-checkbox>
</section>
</md-list-item>
<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.lowercase" name="lowercase" value="lowercase">Require at least one lowercase letter</md-checkbox>
</section>
</md-list-item>
<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.number" name="number" value="number">Require at least one number</md-checkbox>
</section>
</md-list-item>
<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.non_alphanumeric" name="nonalphanumeric" value="nonalphanumeric">Require at least one non-alphanumeric character</md-checkbox>
</section>
</md-list-item>
<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.ownpassword" name="ownpassword" value="ownpassword"> Allow users to change their own password</md-checkbox>
</section>
</md-list-item>
<!--<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.password_expiration" name="pawdexpiration" value="pawdexpiration">Enable password expiration</md-checkbox>
</section>
</md-list-item>
<md-list-item class="password">
<label>   password expiration peroid(in days)</label>
<md-input-container>

<input mdInput [(ngModel)]="data.expirationperiod" name="expirationperiod" >

</md-input-container>
</md-list-item>
<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.password_reuse" name="password_reuse"  value="password_reuse">prevent password reuse</md-checkbox>
</section>
</md-list-item>
<md-list-item class="password">
<label>number of passwords to remember</label>
<md-input-container>

<input mdInput [(ngModel)]="data.rememberpswd" name="remberpswd">

</md-input-container>
</md-list-item>

<md-list-item>
<section>
<md-checkbox [(ngModel)]="data.resetpassword" >password expiration requires administrator reset</md-checkbox>
</section>
</md-list-item>-->

</md-card-content>
<md-card-actions>
<button md-raised-button color="primary" (click)="applypswdpolicy(data)">Apply password policy</button>
<button md-raised-button color="primary" (click)="deletepolicy()" >Reset password policy</button>
</md-card-actions>

</md-list>
</md-card>