<md-grid-list cols="1" rowHeight="200px">
    <md-grid-tile class="dashboard-background"></md-grid-tile>
</md-grid-list>


<md-card class="dashboard-card ">
    <md-card-header>

    </md-card-header>
    <form role="form" name="cpassword" novalidate (ngSubmit)="changePassword(password)" #cpassword="ngForm">

        <md-card-content>

            <md-list>
                <md-list-item>

                    <md-input-container class="full-width">
                        <input mdInput type="password" autofocus placeholder="Old Password" [(ngModel)]="password.oldPassword" id="oldPassword" name="oldPassword"
                            #oldPassword="ngModel" minlength="6" required>

                        <md-hint class="danger error-danger" *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)">
                            <span [hidden]="!oldPassword.errors.required">Please enter oldPassword.</span>
                            <span [hidden]="!oldPassword.errors.minlength">Password should be more than 6 characters.</span>
                        </md-hint>
                    </md-input-container>
                </md-list-item>

            </md-list>
            <br>
            <md-list>
                <md-list-item>

                    <md-input-container class="full-width">
                        <input mdInput type="password" placeholder="New Password" [(ngModel)]="password.newPassword" id="newPassword" name="newPassword"
                            #newPassword="ngModel" minlength="{{regularExpression.passwordlength}}" required pattern="{{regularExpression.regularExpression}}" (ngModelChange)="passwordChange($event)">

                        <md-hint class="danger error-danger" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                            <span [hidden]="!newPassword.errors.required">Please enter NewPassword.</span>
                            <span [hidden]="!newPassword.errors.minlength">Password should be more than {{regularExpression.passwordlength}} characters.</span>
                            <span *ngIf="newPassword.errors.pattern">{{passwordPolicyError}}</span>
                        </md-hint>
                    </md-input-container>
                </md-list-item>

            </md-list>
            <br>
            <md-list>
                <md-list-item>

                    <md-input-container class="full-width">
                        <input mdInput type="password" placeholder="Confirm Password" [(ngModel)]="password.confirmPassword" id="confirmPassword"
                            name="confirmPassword" validateEqual="password" #confirmPassword="ngModel" minlength="{{regularExpression.passwordlength}}" required
                            validateEqual="newPassword" pattern="{{regularExpression.regularExpression}}" (ngModelChange)="confirmPasswordChange($event)">

                        <md-hint class="danger error-danger" *ngIf="(confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched))">
                            <p [hidden]="!confirmPassword.errors.required">Please enter confirmPassword.</p>
                            <p [hidden]="!confirmPassword.errors.minlength">Password should be more than {{regularExpression.passwordlength}} characters.</p>
                            <span *ngIf="confirmPassword.errors.pattern">{{confirmPasswordPolicyError}}</span>
                            <p [hidden]="confirmPassword.valid || (confirmPassword.pristine && !cpassword.submitted)">
                                Password mismatch
                            </p>
                        </md-hint>

                    </md-input-container>
                    <!--<span class="danger pswdmatch" *ngIf="passwordNotMatched">
                        <span [hidden]="!passwordNotMatched">Password mismatch</span>
                    </span>-->
                </md-list-item>

            </md-list>
        </md-card-content>

        <md-card-actions class="btn">
            <button md-raised-button color="primary" [disabled]="!cpassword.form.valid" id="changePassword" type="submit">UpdatePassword</button>
            <button md-raised-button color="primary" id="cancel" (click)="cancel()" type="submit">Cancel</button>

        </md-card-actions>
    </form>

</md-card>