<div>
    <div class="row">
        <div class="col-md-9">
            <div class="col-sm-6">
                <div class="tile purple">
                    <h3 class="title">Tenants</h3>
                    <div class="col-sm-6 text Center">
                        <h4>Total:</h4>
                        <h1>{{_tenantcount}}</h1>
                    </div>
                    <div class="col-sm-6 text Center">
                        <h4>Online:</h4>
                        <h1>{{tenantsOnline}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tile red">
                    <h3 class="title">Users</h3>
                    <div class="col-sm-6 text Center">
                        <h4>Total:</h4>
                        <h1>{{_usersCount}}</h1>
                    </div>
                    <div class="col-sm-6 text Center">
                        <h4>Online:</h4>
                        <h1>{{clientsOnline}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="col-sm-6">
                <div class="tile green">
                    <h3 class="title">Resellers</h3>
                    <div class="col-sm-6 text Center">
                        <h4>Total:</h4>
                        <h1>{{_tenantcount}}</h1>
                    </div>
                    <div class="col-sm-6 text Center">
                        <h4>Online:</h4>
                        <h1>{{resellersOnline}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tile blue">
                    <h3 class="title">Site Admins</h3>
                    <div class="col-sm-6 text Center">
                        <h4>Total:</h4>
                        <h1>{{_tenantcount}}</h1>
                    </div>
                    <div class="col-sm-6 text Center">
                        <h4>Online:</h4>
                        <h1>{{siteadminsOnline}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>