<md-card class="login-card">
    <md-card-header>
        <md-card-title>
            <h3>Password Reset</h3>
        </md-card-title>
    </md-card-header>
    <form name="resetpswd" #resetpswd="ngForm">
        <md-card-content>
            <md-input-container class="login-full-width">
                <input mdInput placeholder="Password" [(ngModel)]="password" id="password" name="pswd" minlength="{{regularExpression.passwordlength}}" required type="password"
                    #pswd="ngModel" pattern="{{regularExpression.regularExpression}}" (ngModelChange)="passwordChange($event)">
                <md-hint class="danger" *ngIf="pswd.errors && (pswd.dirty || pswd.touched)">
                    <span [hidden]="!pswd.errors.required">Please enter Password.</span>
                    <span [hidden]="!pswd.errors.minlength">Password should be more than {{regularExpression.passwordlength}} characters.</span>
                    <span *ngIf="pswd.errors.pattern">{{passwordPolicyError}}</span>
                </md-hint>

            </md-input-container>

            <md-input-container class="login-full-width">
                <input mdInput placeholder="Confirm Password" [(ngModel)]="confpassword" name="confirmpassword" id="confpassword" type="password"
                    minlength="{{regularExpression.passwordlength}}" required validateEqual="pswd" #confirmpassword="ngModel" pattern="{{regularExpression.regularExpression}}" (ngModelChange)="confirmPasswordChange($event)">

                <md-hint class="danger" *ngIf="(confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched))">
                    <span [hidden]="!confirmpassword.errors.required">Please enter confirmPassword.</span>
                    <span [hidden]="!confirmpassword.errors.minlength">Password should be more than {{regularExpression.passwordlength}} characters.</span>
                    <span *ngIf="confirmpassword.errors.pattern">{{confirmPasswordPolicyError}}</span>
                    <p [hidden]="confirmpassword.valid || (confirmpassword.pristine && !resetpswd.submitted)">
                        Password mismatch
                    </p>
                </md-hint>

            </md-input-container>
            <!-- <span class="danger pswdmatch" *ngIf="passwordNotMatched">
                            <span [hidden]="!passwordNotMatched">Password mismatch</span>
                </span>-->
        </md-card-content>
        <md-card-actions>
            <md-list>
                <md-list-item>
                    <button md-raised-button class="md-primary" [disabled]="!resetpswd.form.valid" (click)="resetpassword()" id="resetpassword">Submit</button>
                </md-list-item>
                <md-list-item>

                </md-list-item>
            </md-list>
        </md-card-actions>
    </form>
</md-card>