<md-card class="login-card">
    <md-card-header>
        <md-card-title>
            <h3>Fogot Password</h3>
        </md-card-title>
    </md-card-header>
    <form novalidate #forgotpswd="ngForm">
        <md-card-content>
            <md-input-container class="login-full-width">
                <input mdInput placeholder="Email Id" [(ngModel)]="email" name="email" type="email" id="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <md-hint class="danger" *ngIf="email.errors && (email.dirty || email.touched )" class="error">
                    <span [hidden]="!email.errors.required">Please enter Email-Id.</span>
                    <span [hidden]="!email.errors.pattern">Please enter valid Email-Id pattern</span>
                </md-hint>
            </md-input-container>
        </md-card-content>
        <md-card-actions>
            <md-list>
                <md-list-item>
                    <button md-raised-button color="primary" [disabled]="!forgotpswd.form.valid" id="sendLink" (click)="sendLink()">Submit</button>
                    <button md-raised-button color="primary" (click)="Cancel()" id="Cancel">Cancel</button>
                </md-list-item>
                <md-list-item>
                </md-list-item>
            </md-list>
        </md-card-actions>
    </form>
</md-card>

<!--noitifications template-->
<simple-notifications [options]="options"></simple-notifications>