<!--<ng-progress></ng-progress>-->
<!--top bar component-->
<i class="material-icons menucolor" (click)="sidenav.toggle()">menu</i>
<app-top-bar></app-top-bar>

<md-sidenav-container class="dashboard-container">

    <md-sidenav #sidenav mode="side" class="dashboard-sidenav" opened="true">

        <md-list class="side-menu">

            <md-list-item routerLink='dashboard' (click)="nav_active('dashboard',false)" [ngStyle]="{'border-left': isActive == 'dashboard' ? '4px solid rgb(78, 193, 237)' : '#12528a' }"><i class="material-icons">account_circle</i> Dashboard</md-list-item>
            <md-list-item routerLink='notifications' (click)="nav_active('notifications',false)" [ngStyle]="{'border-left': isActive == 'notifications' ? '4px solid rgb(78, 193, 237)' : '#12528a' }"><i class="material-icons">notifications_none</i> Notifications</md-list-item>

            <md-list-item routerLink='tenant' (click)="nav_active('tenant',false)" [ngStyle]="{'border-left': isActive == 'tenant' ? '4px solid rgb(78, 193, 237)' : ' #12528a' }">
                <i class="material-icons">view_list</i> Tenant
                <!--<i class="material-icons " *ngIf="!_isTenant">keyboard_arrow_down</i>
                <i class="material-icons" *ngIf="_isTenant">keyboard_arrow_up</i>-->
            </md-list-item>

            <md-list-item routerLink='passwordpolicy' (click)="nav_active('passwordpolicy',false)" [ngStyle]="{'border-left': isActive == 'passwordpolicy' ? '4px solid rgb(78, 193, 237)' : ' #12528a' }"><i class="material-icons">verified_user</i>Password Policy</md-list-item>

            <md-list-item routerLink='infrastructure' (click)="nav_active('infrastructure',false)" [ngStyle]="{'border-left': isActive == 'infrastructure' ? '4px solid rgb(78, 193, 237)' : '#12528a' }"><i class="material-icons">device_hub</i>Infrastructure</md-list-item>
            <md-list-item routerLink='reseller' (click)="nav_active('reseller',false)" [ngStyle]="{'border-left': isActive == 'reseller' ? '4px solid rgb(78, 193, 237)' : ' #12528a' }"><i class="material-icons">visibility</i>Reseller</md-list-item>
            <md-list-item routerLink='analytics' (click)="nav_active('analytics',false)" [ngStyle]="{'border-left': isActive == 'analytics' ? '4px solid rgb(78, 193, 237)' : ' #12528a' }"><i class="material-icons">assignment</i>Analytics</md-list-item>
            <md-list-item routerLink='servicecatalog' (click)="nav_active('servicecatalog',false)" [ngStyle]="{'border-left': isActive == 'servicecatalog' ? '4px solid rgb(78, 193, 237)' : ' #12528a' }"><i class="material-icons">settings</i>Service Catalog</md-list-item>

            <md-list-item routerLink='users' (click)="nav_active('users',true);collapse(2);" [ngStyle]="{'border-left': (isActive == 'users'||isActive == 'privileges'|| isActive == 'roles') ? '4px solid rgb(78, 193, 237)' : ' #12528a' }"><i class="material-icons">account_box</i>User Management
                <i class="material-icons " *ngIf="!_isUsermanagement">keyboard_arrow_down</i><i class="material-icons" *ngIf="_isUsermanagement">keyboard_arrow_up</i></md-list-item>

            <div class=" color" *ngIf="_isCurrentvalue == 2 && _isUsermanagement">
                <md-list-item routerLink='users' class="_padding" (click)="nav_active('users',true)" [ngStyle]="{'border-left': isActive == 'users' ? '4px solid #deaaaa' : 'darkcyan' }"><i class="material-icons">perm_identity</i>Users</md-list-item>
                <!--<md-list-item routerLink='groups' (click)="nav_active('groups',true)" [ngStyle]="{'border-left': isActive == 'groups' ? '4px solid #deaaaa' :'darkcyan' }"><i class="material-icons">group</i>Groups </md-list-item>-->
                <md-list-item routerLink='roles' class="_padding" (click)="nav_active('roles',true)" [ngStyle]="{'border-left': isActive == 'roles' ? '4px solid #deaaaa' : ' darkcyan' }"><i class="material-icons">settings</i>Roles Managment</md-list-item>
                <md-list-item routerLink='privileges' class="_padding" (click)="nav_active('privileges',true)" [ngStyle]="{'border-left': isActive == 'privileges' ? '4px solid #deaaaa' : ' darkcyan' }"><i class="material-icons">settings</i>Privileges</md-list-item>
            </div>

            <md-list-item routerLink='upgrades' (click)="nav_active('upgrades',false)" [ngStyle]="{'border-left': isActive == 'upgrades' ? '4px solid rgb(78, 193, 237)' : ' #12528a' }"><i class="material-icons">sync</i>Upgrades</md-list-item>

            <md-list-item routerLink='changepassword' (click)="nav_active('changepassword',true);collapse(3);" [ngStyle]="{'border-left': (isActive == 'changepassword'||isActive == 'emails'||isActive == 'security'||isActive == 'accesskeys') ? '4px solid rgb(78, 193, 237)' : ' #12528a' }"><i class="material-icons">assignment_ind</i>My Account<i class="material-icons " *ngIf="!_isMyaccount">keyboard_arrow_down</i>
                <i class="material-icons" *ngIf="_isMyaccount">keyboard_arrow_up</i>
            </md-list-item>

            <div class=" color" *ngIf="_isCurrentvalue == 3 && _isMyaccount">
                <md-list-item routerLink='changepassword' class="_padding" (click)="nav_active('changepassword',true)" [ngStyle]="{'border-left': isActive == 'changepassword' ? '4px solid #deaaaa' : '#12528a' }"><i class="material-icons">lock_open</i>Change Password</md-list-item>
                <md-list-item routerLink='emails' class="_padding" (click)="nav_active('emails',true)" [ngStyle]="{'border-left':isActive == 'emails' ? '4px solid #deaaaa' : ' darkcyan' }"><i class="material-icons">email</i>Emails</md-list-item>
                <md-list-item routerLink='security' class="_padding" (click)="nav_active('security',true)" [ngStyle]="{'border-left': isActive == 'security' ? ' 4px solid #deaaaa' : ' darkcyan' }"><i class="material-icons">security</i>Security</md-list-item>
                <md-list-item routerLink='accesskeys' class="_padding" (click)="nav_active('accesskeys',true)" [ngStyle]="{'border-left':isActive == 'accesskeys' ? '4px solid #deaaaa' : ' darkcyan' }"><i class="material-icons">vpn_key</i>Access Keys</md-list-item>
            </div>

        </md-list>

    </md-sidenav>

    <div class="dashboard-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>

<!--notification template-->
<simple-notifications [options]="options"></simple-notifications>

<!--<div [ngBusy]="busy"></div>-->